<div class="page-content">
	<div class="container">
		<br/><br/>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<header class="section-header">
					<div class="tbl">
						<div class="tbl-row">
							<div class="tbl-cell">
								<h2>New Investment</h2>
								<div class="subtitle">Create a new company.</div>
							</div>
							<div class="tbl-cell tbl-cell-action button">
								<button type="button" class="btn btn-rounded btn-block">Create</button>
							</div>
						</div>
					</div>
				</header>
				<%= render 'form' %>
				<%= link_to 'Back', investments_path %>
			</div>
		</div>
	</div><!--.container-fluid-->
</div><!--.page-content-->
