<div class="page-content">
	<div class="container">
		
		<div class="text-center">
			<h3>Invest in Fast Growing Technology-enabled  Businesses in Emerging Markets</h3>
			<h5>Vested World takes on the work of finding deals, performing thorough on-groun due diligence and seeding the ivestments. You invest along with us and trust us to manage the investment on your behalf.</h5>
			<h2>learn more...</h2>
		</div>

		<br/>

		<div class="row">
      <div class="col-md-4 col-sm-12">
        <p class="text-center">
        	<a href="startup-signup.html" class="btn btn-lg">
	          Investor
	        </a>
	      </p>
      </div>
      <div class="col-md-4 col-sm-12">
      	<p class="text-center">
	        <a href="startup-signup.html" class="btn btn-lg">
	          Founder
	        </a>
	      </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <p class="text-center">
        	<a href="startup-signup.html" class="btn btn-lg">
	          Advisor
	        </a>
	      </p>
      </div>
    </div>

    <hr/>

    <h4>Why Emerging Markets?</h4>

    <br/>

    <div class="row text-center">
      <div class="col-md-4 col-sm-12">
        	<h1>$1.3Tn</h1>
        	<h5>consumer spending by 2020</h5>
	      </p>
      </div>
      <div class="col-md-4 col-sm-12">
      	<h1>80%</h1>
      	<h5>of the 26 Megacities are in emerging markets</h5>
      </div>
      <div class="col-md-4 col-sm-12">
        <h1>29M</h1>
        <h5>Youth entering workforce annualy</h5>
      </div>
    </div>

    <hr/>

    <h4>Portfolio</h4>

    <br/>

    <div class="row text-center">
      <div class="col-sm-4">
      	<h1>$1.3Tn</h1>
      	<h5>Moringa</h5>
      </div>
      <div class="col-sm-4">
      	<h1>80%</h1>
      	<h5>Umati</h5>
      </div>
      <div class="col-sm-4">
        <h1>29M</h1>
        <h5>Beacon</h5>
      </div>
    </div>

    <hr/>

    <h4>Team</h4>

    <br/>

    <div class="row">
      <div class="col-sm-4">
    		<div class="user-card-row">
					<div class="tbl-row">
						<div class="tbl-cell tbl-cell-photo tbl-cell-photo-64">
							<a href="#" class="pull-right">
								<img src="img/avatar-1-128.png" alt="">
							</a>
						</div>
						<div class="tbl-cell">
							<p class="user-card-row-name font-16"><a href="#">Euler</a></p>
							<p class="user-card-row-mail font-14"><a href="#">Watkins, University of Chicago</a></p>
						</div>
					</div>
				</div>
      </div>
      <div class="col-sm-4">
      	<div class="user-card-row">
					<div class="tbl-row">
						<div class="tbl-cell tbl-cell-photo tbl-cell-photo-64">
							<a href="#" class="pull-right">
								<img src="img/avatar-1-128.png" alt="">
							</a>
						</div>
						<div class="tbl-cell">
							<p class="user-card-row-name font-16"><a href="#">Jeff</a></p>
							<p class="user-card-row-mail font-14"><a href="#">Lazard, Chicago Booth</a></p>
						</div>
					</div>
				</div>
      </div>
      <div class="col-sm-4">
        <div class="user-card-row">
					<div class="tbl-row">
						<div class="tbl-cell tbl-cell-photo tbl-cell-photo-64">
							<a href="#" class="pull-right">
								<img src="img/avatar-1-128.png" alt="">
							</a>
						</div>
						<div class="tbl-cell">
							<p class="user-card-row-name font-16"><a href="#">Seyi</a></p>
							<p class="user-card-row-mail font-14"><a href="#">Asha Labs, Chicago Booth</a></p>
						</div>
					</div>
				</div>
      </div>
    </div>

    <hr/>

    <h4 class="">Blog</h4>

    <br/>

    <div class="row">
      <div class="col-sm-12">
        	<h4>Emerging Market Fund Returns <a href"#">more...</a></h4>
      </div>
      <div class="col-sm-12">
      	<h4>Quantum leaps in emerging markets <a href"#">more...</a></h4>
      </div>
    </div>


		

	</div><!--.container-fluid-->
</div><!--.page-content-->


