<div class="page-content">
	<header class="page-content-header">
  <div class="container-fluid">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>Investors <small class="text-muted m-l"><%= User.count %></small></h3>
      </div>
      <!-- <div class="tbl-cell tbl-cell-action">
        <a href="#" class="btn btn-rounded">Invite an Investor</a>
      </div> -->
    </div>
  </div>
  </div>
	</header><!--.page-content-header-->

	<div class="container">
	  <% @users.each do |user| %>
	  	<%= render user %>
		 <% end %>
	</div>
</div>



  