<div class="page-content">
	<div class="container">
		<br/><br/>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<header class="section-header">
					<div class="tbl">
						<div class="tbl-row">
							<div class="tbl-cell">
								<h2>New Company</h2>
								<div class="subtitle">Create a new company.</div>
							</div>
						</div>
					</div>
				</header>
				<%#= render 'form' %>
				<%#= link_to 'Back', companies_path %>
			</div>
		</div>
	</div><!--.container-fluid-->
</div><!--.page-content-->
